<table>
  <tr>
    <th>User, number</th>
    <th>Plots</th>
    <th>Full name</th>
    <th>Email</th>
    <th>phone</th>
    <th>Last login</th>
    <th></th>
  </tr>
  {section name=i loop=$users}
  <tr>
    <td>{$users[i].id}</td>
    <td>{$users[i].plots}</td>
    <td>{$users[i].full_name}</td>
    <td>{$users[i].email}</td>
    <td>{$users[i].phone}</td>
    <td>{$users[i].last_login}</td>
    <td class="right_column">
      <i class="icon icon_ellipsis" onclick="common.menu_popup_toggle(this, event);">
        <div class="menu_popup">
          <div onclick="common.user_edit_window({$users[i].id}, event);">Edit</div>
          <div onclick="common.user_remove_window({$users[i].id}, event);">Remove</div>
        </div>
      </i>
    </td>
  </tr>
  {/section}
</table>