<div class="modal_head">
  <i class="icon_close" onclick="common.modal_hide()"></i>
</div>
<div class="modal_body">
  <div class="input_group_modal">
    <div>First name</div>
    <input type="text" id="first_name" value="{$user.first_name}">
  </div>
  <div class="input_group_modal">
    <div>Last name</div>
    <input type="text" id="last_name" value="{$user.last_name}">
  </div>
  <div class="input_group_modal">
    <div>Phone</div>
    <input type="text" id="phone" value="{$user.phone}">
  </div>
  <div class="input_group_modal">
    <div>Lot number</div>
    <input type="text" id="number" value="{$plot.number}">
  </div>
  <div class="input_group_modal">
    <div>Size, acres</div>
    <input type="text" id="size" value="{$plot.size}">
  </div>
  <div class="input_group_modal">
    <div>Price, AED</div>
    <input type="text" id="price" value="{$plot.price}">
  </div>
  <div class="modal_controls">
    <div>
      <div class="btn_modal" onclick="common.plot_edit_update({$plot.id});">Save</div>
    </div>
    <div>
      <div class="btn_modal light" onclick="common.modal_hide();">Cancel</div>
    </div>
  </div>
</div>
